<context-param>
    <param-name>com.auth0.domain</param-name>
    <param-value>dev-yoarg7wexsixpo1q.us.auth0.com</param-value>
</context-param>

<context-param>
<param-name>com.auth0.clientId</param-name>
<param-value>Sl7N3LgjxSEO945UaJPkLujNARnfuzMm</param-value>
</context-param>

<context-param>
<param-name>com.auth0.clientSecret</param-name>
<param-value>YOUR_CLIENT_SECRET</param-value>
</context-param>